<?xml version="1.0" encoding="UTF-8" ?>

    <widget id="com.PGBuildAppLuke.tryingreallyhard" 
			version="0.0.1"
			android-versionCode="7"
			xmlns   = "http://www.w3.org/ns/widgets"
			xmlns:gap   = "http://phonegap.com/ns/1.0"
	>

	 

    <name>PG Build App Luke ConfigXML</name>
        <description>
            First attempt description field xml
        </description>
        <author email="luke@epimedia.com" href="http://phonegap.com">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />

			<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.4" />
		

	 
       </widget>