    <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.exampleid"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>Luke First PhoneGap config name</name>

        <description>
        Luke first phonegap config description 
        </description>

        <author href="http://epimedia.com" email="info@epimedia.com">
        Luke
        </author>

    </widget>
