    <widget id="PG Build App Luke" version="0.0.1"
	
	 android-versionCode="7"
	 >
        <name>HelloWorld</name>
        <description>
            First attempt description field xml
        </description>
        <author email="luke@epimedia.com" href="http://phonegap.com">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
   

	 
       </widget>